
hr {
     width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;    
}
.deControl {
    margin-left: 110px;
    margin-right: 110px;
}
.dxgvControl_Moderno {
    font-style: normal;
    font-size: 12px;
    text-align: left;
}