.img-search {
    width: 40px;
}

.searchCursor {
    cursor: pointer;
    margin-top: 2px;
}

.image-viewer {
    width: 150px;
}

div.search-control span.select2 {
    width: 100% !important;
}

.select2-container span {
    position: relative;
    float: left;
    top: 5px;
    width: 600px !important;
}

.select2-dropdown {
    width: 600px !important;
}

.select2-dropdown--below {
    top: 10px!important;
    height: 200px !important;
}

.select2-results > .select2-results__options {
    overflow-y: initial !important;
}

.select2label {
    width: 60px;
    align-content: flex-start;
    font-size: xx-small;
}
