.width33 {
    width: 33%;
}

.width50 {
    width: 50%;
}

.width100 {
    width: 100%;
}





.allFields-picker{}
.country-picker{}
.manufacturer-picker{}
.carmodel-picker{}
.carbodytype-picker{}
.caroptions-picker{}
.description-picker{}
