.body-content {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    margin-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.validation-summary-valid { display:none; }
