@model AutoSiteProject.Models.ViewModels.CarItemViewModel

<script src="~/scripts/AutoSite/ImageLoader.js"></script>

<h3>Create car</h3>
<hr/>
@using (Html.BeginForm("CreateCar","CarItem",FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @{ Html.RenderPartial("_CarItem", Model); }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })
</div>
 
 
