<link href="~/Content/MyCss/MainPageStyle.css" rel="stylesheet" />
@using Microsoft.AspNet.Identity
@model IEnumerable<AutoSiteProject.Models.ViewModels.CarItemViewModel>
<hr />
<div class="deControl">
    @{ Html.RenderAction("MyCarsListPartial", "DataLoader", new { id = User.Identity.GetUserId() }); }
</div>