<link href="~/Content/MyCss/MainPageStyle.css" rel="stylesheet" />

@using AutoSiteProject.Models.ViewModels
@model IEnumerable<CarAggregateViewModel>
<hr />
@{ Html.RenderPartial("_CarFilter", (CarAggregateFilterViewModel)ViewBag.CarFilter);}
<div class="deControl">
    @{ Html.RenderAction("GetCarsPartial", "DataLoader");}
</div>