
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/AutoSite/DataLoader.js"></script>
<div class="col-md-10">
    <h2>Index</h2>
    @Html.DropDownList("Select Country", (SelectList)ViewBag.Countries, htmlAttributes: new { @class = "form-control", @id = "country" })
    @Html.DropDownList("Select Manufacturer", (SelectList)ViewBag.Manufacturers, htmlAttributes: new { @class = "form-control", @id = "SelectedManufacturer" })
    @Html.DropDownList("Select Car Model", (SelectList)ViewBag.CarModels, htmlAttributes: new { @class = "form-control", @id = "SelectedCarModel" })
</div>


    
